@charset 'UTF-8';

@use 'variable';
@use 'mixin';

header {
  height: 100px;
  width: 400px;
  background-color: variable.$navy;

  .header-content {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    display: inline-flex;
    gap: 10px;
    background-color: variable.$white;
    padding: 10px;
    margin: 20px;

    @each $name in variable.$classNames {
      $index: index(variable.$classNames, $name); // クラス名のインデックスを取得
      $color: nth(variable.$buttonColor, $index); // 対応する色を取得

      .#{$name} {
        @include mixin.color_list($color);
      }
    }

  }
}

.main-content {
  display: flex;
  text-align: center;
  width: fit-content;
}

aside {
  height: 250px;
  width: 150px;
  background-color: variable.$green;
}

section {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: variable.$red;

  .white-box {
    height: fit-content;
    width: fit-content;
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: variable.$white;
  }

  ul {
    padding: 0;
    margin: 40px 0 0 40px;
    list-style-type: none;

    @each $name in variable.$classNames {
      $index: index(variable.$classNames, $name); // クラス名のインデックスを取得
      $color: nth(variable.$buttonColor, $index); // 対応する色を取得

      .#{$name} {
        @include mixin.vertical_color_list($color);
      }

    }
      li:nth-child(3){
        margin: 0;
      }

  }
}

footer {
  background-color: variable.$brown;
  height: 100px;
  width: 400px;
}